<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>593018592282-5e0fkm1icacr5po3cjd09lljt7ftldlj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.593018592282-5e0fkm1icacr5po3cjd09lljt7ftldlj</string>
	<key>API_KEY</key>
	<string>AIzaSyBH3C35YwYj4HDUiEC_tQYiEWfZ8nv-Dyg</string>
	<key>GCM_SENDER_ID</key>
	<string>593018592282</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.scholarChat</string>
	<key>PROJECT_ID</key>
	<string>chat-app-356c8</string>
	<key>STORAGE_BUCKET</key>
	<string>chat-app-356c8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:593018592282:ios:2b61f689b919c7b733c5a3</string>
</dict>
</plist>